# Visual Studio
.vs/
*.user
*.suo
*.VC.db
*.VC.opendb
*.obj
*.exe
*.pdb
*.ilk
*.log
*.tlog/
*.idb
*.ipch
*.aps
*.ncb
*.sdf
*.cache
*.opensdf
*.sbr
*.scc
*.lastbuildstate
*.dbmdl
*.dbproj.schemaview
*.dbproj.user
*.dbproj.vspscc
*.vssscc
*.psess
*.vsp
*.vspscc
*.vssscc
*.cachefile
*.pfx
*.publish.xml
*.orig
*.DS_Store
x64/
Debug/
Release/ 